p,
ul li {
    color: rgb(163, 67, 23);
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 40px;
}

body {
    background-color: rgb(251, 251, 251);
    height: 100vh;
    width: 100vw;
}

.main-container {
    border-radius: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    align-content: center;
    background-color: rgba(50, 50, 50, .3);
}

html {
    font-size: 1.5em;
    font-family: 'Noto Sans JP', sans-serif;
}

form {
    /* background-color: rgba(250, 250, 250, .5); */
    /* width: 100px; */
    padding: 20px;
    margin: 25px;
}

h3 {
    font-weight: lighter;
    text-decoration: underline;
}

form label {
    color: darkorchid;
}

input[type="text"] {
    height: 40px;
    width: 280px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

button[type='submit'] {
    /* width: 50%; */
    height: 60px;
    width: 400px;
    font-size: 1.1em;
    border: 1px dotted black;
    border-radius: 25px;
    cursor: auto;
    font-weight: lighter;
    /* background-color: skyblue; */
}

#resultMessageh2 {
    padding: 20px;
    margin-left: 25px;
    font-weight: lighter;
}

button:hover {
    cursor: -webkit-grab;
}

textarea {
    border-radius: 10px;
    margin: 5px;
}

button.tabs {
    color: darkorchid;
    height: 60px;
    min-width: 100px;
    font-size: 1.2em;
    border: 1px dotted black;
    margin: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
    margin-top: 1.5em;
    padding: 20px;
}

.tabbing {
    width: 50%;
}

div h2 {
    align-self: center;
    text-decoration: solid;
    letter-spacing: 3px;
    font-weight: lighter;
}

.button-container {
    display: inline-flex;
    flex-basis: 80%;
    max-height: 105px;
    justify-content: center;
}

.div-container {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
    border-top: 1px solid black;
    /* border-radius: 20px; */
}

.div-container-item {
    /* border: 2px dotted black; */
    padding: 25px;
    border-radius: 25px;
}

.div-container-item-1 {
    display: flex;
    flex-direction: column;
}

.div-container-item-2 {
    display: none;
    flex-direction: column;
}

.div-container-item-3 {
    display: none;
    flex-direction: column;
}

.div-container-item-4 {
    display: none;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px dotted rgba(40, 40, 40, .2);
}

.photo-item {
    border: 2px solid black;
}

div p {
    text-align: justify;
}

div img {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
}

.photo-item-1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#confirmation {
    width: 80%;
}

.photo-item-2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

#photo-Collage {
    width: 100%;
    height: 100%;
}

.photo-item-3 {}